/*VARIABLE*/
$color: red;

.navegador {
  background-color: black;
  border-top: solid $color 20px;
}

ul li a {
  color: white;
  text-transform: uppercase;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  border-left: 1px solid $color;
  border-right: 1px solid $color;
  padding: 0 15px;
}

.nav-item {
  border-radius: 5px;

  height: 30px;
  transition: all 1s;
  &:hover {
    transform: scale(1.1);
  }
}

.tituloPag {
  font-weight: bold;
  color: $color;
  text-transform: uppercase;
  margin-left: 30px;
  margin-top: 20px;
}

button a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px;
  margin: 10px;
  color: white;
}

.btnContacto {
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px;
  margin: 10px;
}

.carrusel {
  object-fit: contain;
}
