/*footer */
.foot {
  border-top: 1px solid black;
  font-weight: bold;

  background-color: red;
  border-bottom: solid black 20px;
}

.carousel-control-next,
  .carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}
