/* productos*/

.contPrincipal {
  background-color: white;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.contenedorProducto {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 5px 5px 5px 5px;

  &:hover {
    background-color: red;
  }

  p {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.productoImg {
  width: 100%;
  height: 150px;
  object-fit: contain;
}
/*MARCA*/
.marcaImg {
  width: 100%;
}

.contenedorImg {
  padding: 20px;
}
